<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="project_assembly" value="com.tk.orm" />
  <add key="project_path" value="com.tk.orm.mappers" /> 
  <add key="db_server" value="" />
  <add key="project_userid" value="ssouser" />
  <add key="project_password" value="ssouser1" />
  <add key="project_datasource" value="ISHITONG" />
</settings>