<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="./DataBase.config" />
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
    <setting useReflectionOptimizer="true"/>
    <setting useEmbedStatementParams="false"/>
  </settings>

	<!--db provider配置文件路径-->
	<providers resource="providers.config"/>

	<!--db provider类型及连接串-->
	<!--<database>
		<provider name="oracleClient1.0" />
		<dataSource name="oracle" connectionString="Data Source=ORCL;Persist Security Info=True;User ID=scott;Password=tiger;Unicode=True" />
	</database>-->
  <database>
    <provider name="sqlServer2008"></provider>
    <dataSource name="DataSource" connectionString="Data Source=XIAOPANP-PC\SQLEXPRESS;Integrated Security=True;database=dam;"/>
  </database>
  <!--<database>
    <provider name="sqlServer2008"></provider>
    <dataSource name="DataSource" connectionString="server=${db_server};uid=${project_userid};pwd=${project_password};database=${project_datasource};"/>
  </database>-->
	<!--db与Entity的映射文件-->
	<sqlMaps>
    <sqlMap embedded="${project_path}.ALARMAPPENDMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.ALARMGOALMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.ALARMSETTINGMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.OPLOGMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.PROJECTMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.RIGHTMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.ROLEMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.ROLERIGHTMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.STATION_ACCESSMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.STATIONMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.USERMapper.xml,${project_assembly}" />
    <sqlMap embedded="${project_path}.USERROLEMapper.xml,${project_assembly}" />
	</sqlMaps>

</sqlMapConfig>