<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="ALARMLOG" type="com.tk.orm.model.ALARMLOG,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="ALARMLOG_params">
    			<parameter property="ID" column="ID" type="int" dbType="int" ></parameter>
    			 <parameter property="ADATETIME" column="ADATETIME" type="DateTime" dbType="datetime" ></parameter>
    			<parameter property="PROJECTID" column="PROJECTID" type="int" dbType="int" ></parameter>
    			<parameter property="STATIONID" column="STATIONID" type="int" dbType="int" ></parameter>
    			<parameter property="ALEVEl" column="ALEVEl" type="byte" dbType="tinyint" ></parameter>
    			<parameter property="AEVENT" column="AEVENT" dbType="Varchar" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="ALARMLOGResult" class="ALARMLOG"> 
            <result property="ID" column="ID"/>
            <result property="ADATETIME" column="ADATETIME"/>
            <result property="PROJECTID" column="PROJECTID"/>
            <result property="STATIONID" column="STATIONID"/>
            <result property="ALEVEl" column="ALEVEl"/>
            <result property="AEVENT" column="AEVENT"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllALARMLOG" resultMap="ALARMLOGResult">
			<![CDATA[SELECT  
             ID,
    	     
             ADATETIME,
    	     
             PROJECTID,
    	     
             STATIONID,
    	     
             ALEVEl,
    	     
             AEVENT
    	     FROM T_ALARMLOG]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectALARMLOGById" parameterClass="int" resultMap="ALARMLOGResult" extends="SelectAllALARMLOG">
			<![CDATA[ where ID = #value#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="InsertALARMLOG" parameterClass="ALARMLOG">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="ID" type="post" resultClass="int">
          <![CDATA[
            INSERT into T_ALARMLOG(ADATETIME, PROJECTID, STATIONID, ALEVEl, AEVENT )
    			  VALUES(#ADATETIME#, #PROJECTID#, #STATIONID#, #ALEVEl#, #AEVENT# )
            SELECT SCOPE_IDENTITY() as ID
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="UpdateALARMLOG" parameterClass="ALARMLOG">
			<![CDATA[Update T_ALARMLOG 
            SET  
                    ADATETIME=#ADATETIME#
                , 
                    PROJECTID=#PROJECTID#
                , 
                    STATIONID=#STATIONID#
                , 
                    ALEVEl=#ALEVEl#
                , 
                    AEVENT=#AEVENT#
                 
			Where ID=#ID#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeleteALARMLOGById" parameterClass="int">
			<![CDATA[Delete From T_ALARMLOG Where ID=#value#]]>
		</delete>
        <select id="SelectALARMLOGQuery" parameterMap="ALARMLOG_params" resultMap="ALARMLOGResult">
    
                select
            		a.ID,
            		a.ADATETIME,
            		a.PROJECTID,
            		a.STATIONID,
            		a.ALEVEl,
            		a.AEVENT,	
        	from T_ALARMLOG a 
        	<dynamic prepend="where">
        		<isPropertyAvailable prepend="" property="ID">
        			<isGreaterThan prepend="and" property="ID" compareValue="0">
        				a.ID = #ID#
        			</isGreaterThan>
        		</isPropertyAvailable>
        	</dynamic>
        	<!--order by-->
        	<dynamic>
        	order by
        	a.ID
        	</dynamic>
        </select> 
        
       
    </statements>
</sqlMap>  
