<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="DEVICE_STATUS" type="com.tk.orm.model.DEVICE_STATUS,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="DEVICE_STATUS_params">
    			<parameter property="GPSIndex" column="GPSIndex" type="long" dbType="bigint" ></parameter>
    			<parameter property="aDatetime" column="aDatetime" type="DateTime" dbType="datetime" ></parameter>
    			<parameter property="X" column="X" type="double" dbType="float" ></parameter>
    			<parameter property="Y" column="Y" type="double" dbType="float" ></parameter>
    			<parameter property="Height" column="Height" type="double" dbType="float" ></parameter>
    			<parameter property="dltaX" column="dltaX" type="double" dbType="float" ></parameter>
    			<parameter property="dltaY" column="dltaY" type="double" dbType="float" ></parameter>
    			<parameter property="dltaH" column="dltaH" type="double" dbType="float" ></parameter>
          <parameter property="tableName" column="tableName" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="DEVICE_STATUSResult" class="DEVICE_STATUS"> 
            <result property="GPSIndex" column="GPSIndex"/>
            <result property="aDatetime" column="aDatetime"/>
            <result property="X" column="X"/>
            <result property="Y" column="Y"/>
            <result property="Height" column="Height"/>
            <result property="dltaX" column="dltaX"/>
            <result property="dltaY" column="dltaY"/>
            <result property="dltaH" column="dltaH"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllDEVICE_STATUS" parameterMap="DEVICE_STATUS_params" resultMap="DEVICE_STATUSResult">
			<![CDATA[SELECT  
             GPSIndex,
    	     
             aDatetime,
    	     
             X,
    	     
             Y,
    	     
             Height,
    	     
             dltaX,
    	     
             dltaY,
    	     
             dltaH
    	     FROM [$tableName$]]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectDEVICE_STATUSById" parameterMap="DEVICE_STATUS_params" resultMap="DEVICE_STATUSResult" extends="SelectAllDEVICE_STATUS">
			<![CDATA[ where GPSIndex = #GPSIndex#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="InsertDEVICE_STATUS" parameterMap="DEVICE_STATUS_params">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="GPSIndex" type="post" resultClass="int">
          <![CDATA[
            INSERT into [$tableName$](aDatetime, X, Y, Height, dltaX, dltaY, dltaH )
    			  VALUES(#aDatetime#, #X#, #Y#, #Height#, #dltaX#, #dltaY#, #dltaH# )
            SELECT SCOPE_IDENTITY() as GPSIndex
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="UpdateDEVICE_STATUS" parameterMap="DEVICE_STATUS_params">
			<![CDATA[Update [$tableName$] 
            SET  
                    aDatetime=#aDatetime#
                , 
                    X=#X#
                , 
                    Y=#Y#
                , 
                    Height=#Height#
                , 
                    dltaX=#dltaX#
                , 
                    dltaY=#dltaY#
                , 
                    dltaH=#dltaH#
                 
			Where GPSIndex=#GPSIndex#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeleteDEVICE_STATUSById" parameterMap="DEVICE_STATUS_params">
			<![CDATA[Delete From [$tableName$]  Where GPSIndex=#value#]]>
		</delete>
    <select id="SelectDEVICE_STATUSQuery" parameterMap="DEVICE_STATUS_params" resultMap="DEVICE_STATUSResult" extends="SelectAllDEVICE_STATUS">
        <dynamic prepend="where">
          <isPropertyAvailable prepend="" property="GPSIndex">
            <isGreaterThan prepend="and" property="GPSIndex" compareValue="0">
              GPSIndex = #GPSIndex#
            </isGreaterThan>
          </isPropertyAvailable>
          <isPropertyAvailable prepend="and" property="aDatetime">
            aDatetime &gt;#aDatetime#
          </isPropertyAvailable>
        </dynamic>
        <!--order by-->
        <dynamic>
          order by
          aDatetime desc
        </dynamic>
      </select>

    </statements>
</sqlMap>  
