<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="GPSINFO" type="com.tk.orm.model.GPSINFO,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="GPSINFO_params">
    			<parameter property="ID" column="ID" type="long" dbType="bigint" ></parameter>
    			<parameter property="GPSID" column="GPSID" dbType="Varchar" ></parameter>
    			<parameter property="NAME" column="NAME" dbType="Varchar" ></parameter>
    			<parameter property="LOCATION" column="LOCATION" dbType="Varchar" ></parameter>
    			<parameter property="X" column="X" type="double" dbType="float" ></parameter>
    			<parameter property="Y" column="Y" type="double" dbType="float" ></parameter>
    			<parameter property="H" column="H" type="double" dbType="float" ></parameter>
    			<parameter property="FLAG" column="FLAG" type="int" dbType="int" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="GPSINFOResult" class="GPSINFO"> 
            <result property="ID" column="ID"/>
            <result property="GPSID" column="GPSID"/>
            <result property="NAME" column="NAME"/>
            <result property="LOCATION" column="LOCATION"/>
            <result property="X" column="X"/>
            <result property="Y" column="Y"/>
            <result property="H" column="H"/>
            <result property="FLAG" column="FLAG"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllGPSINFO" resultMap="GPSINFOResult">
			<![CDATA[SELECT  
             ID,
    	     
             GPSID,
    	     
             NAME,
    	     
             LOCATION,
    	     
             X,
    	     
             Y,
    	     
             H,
    	     
             FLAG
    	     FROM T_GPSINFO]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectGPSINFOById" parameterClass="int" resultMap="GPSINFOResult" extends="SelectAllGPSINFO">
			<![CDATA[ where ID = #value#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="InsertGPSINFO" parameterClass="GPSINFO">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="ID" type="post" resultClass="int">
          <![CDATA[
            INSERT into T_GPSINFO(GPSID, NAME, LOCATION, X, Y, H, FLAG )
    			  VALUES(#GPSID#, #NAME#, #LOCATION#, #X#, #Y#, #H#, #FLAG# )
            SELECT SCOPE_IDENTITY() as ID
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="UpdateGPSINFO" parameterClass="GPSINFO">
			<![CDATA[Update T_GPSINFO 
            SET  
                    GPSID=#GPSID#
                , 
                    NAME=#NAME#
                , 
                    LOCATION=#LOCATION#
                , 
                    X=#X#
                , 
                    Y=#Y#
                , 
                    H=#H#
                , 
                    FLAG=#FLAG#
                 
			Where ID=#ID#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeleteGPSINFOById" parameterClass="int">
			<![CDATA[Delete From T_GPSINFO Where ID=#value#]]>
		</delete>
        <select id="SelectGPSINFOQuery" parameterMap="GPSINFO_params" resultMap="GPSINFOResult">
    
                select
            		a.ID,
            		a.GPSID,
            		a.NAME,
            		a.LOCATION,
            		a.X,
            		a.Y,
            		a.H,
            		a.FLAG,	
        	from T_GPSINFO a 
        	<dynamic prepend="where">
        		<isPropertyAvailable prepend="" property="ID">
        			<isGreaterThan prepend="and" property="ID" compareValue="0">
        				a.ID = #ID#
        			</isGreaterThan>
        		</isPropertyAvailable>
        	</dynamic>
        	<!--order by-->
        	<dynamic>
        	order by
        	a.ID
        	</dynamic>
        </select> 
        
       
    </statements>
</sqlMap>  
