<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="station" type="com.tk.orm.model.station,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="station_params">
    			<parameter property="sId" column="sId" type="int" dbType="int" ></parameter>
    			<parameter property="sName" column="sName" dbType="Varchar" ></parameter>
    			<parameter property="sStatus" column="sStatus" type="int" dbType="int" ></parameter>
    			<parameter property="sSn" column="sSn" type="int" dbType="int" ></parameter>
    			<parameter property="sComment" column="sComment" dbType="Varchar" ></parameter>
    			<parameter property="Sx" column="Sx" type="double" dbType="float" ></parameter>
    			<parameter property="Sy" column="Sy" type="double" dbType="float" ></parameter>
    			<parameter property="Sh" column="Sh" type="double" dbType="float" ></parameter>
    			<parameter property="sB" column="sB" type="double" dbType="float" ></parameter>
    			<parameter property="sL" column="sL" type="double" dbType="float" ></parameter>
    			<parameter property="sHeight" column="sHeight" type="double" dbType="float" ></parameter>
    			<parameter property="sCoorName" column="sCoorName" dbType="Varchar" ></parameter>
    			<parameter property="sSpeedName" column="sSpeedName" dbType="Varchar" ></parameter>
    			<parameter property="sStyle" column="sStyle" type="int" dbType="int" ></parameter>
    			<parameter property="s1x" column="s1x" type="double" dbType="float" ></parameter>
    			<parameter property="s1y" column="s1y" type="double" dbType="float" ></parameter>
    			<parameter property="s1h" column="s1h" type="double" dbType="float" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="stationResult" class="station"> 
            <result property="sId" column="sId"/>
            <result property="sName" column="sName"/>
            <result property="sStatus" column="sStatus"/>
            <result property="sSn" column="sSn"/>
            <result property="sComment" column="sComment"/>
            <result property="Sx" column="Sx"/>
            <result property="Sy" column="Sy"/>
            <result property="Sh" column="Sh"/>
            <result property="sB" column="sB"/>
            <result property="sL" column="sL"/>
            <result property="sHeight" column="sHeight"/>
            <result property="sCoorName" column="sCoorName"/>
            <result property="sSpeedName" column="sSpeedName"/>
            <result property="sStyle" column="sStyle"/>
            <result property="s1x" column="s1x"/>
            <result property="s1y" column="s1y"/>
            <result property="s1h" column="s1h"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllstation" resultMap="stationResult">
			<![CDATA[SELECT  
             sId,
    	     
             sName,
    	     
             sStatus,
    	     
             sSn,
    	     
             sComment,
    	     
             Sx,
    	     
             Sy,
    	     
             Sh,
    	     
             sB,
    	     
             sL,
    	     
             sHeight,
    	     
             sCoorName,
    	     
             sSpeedName,
    	     
             sStyle,
    	     
             s1x,
    	     
             s1y,
    	     
             s1h
    	     FROM station]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectstationById" parameterClass="int" resultMap="stationResult" extends="SelectAllstation">
			<![CDATA[ where sId = #value#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="Insertstation" parameterClass="station">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="sId" type="post" resultClass="int">
          <![CDATA[
            INSERT into station(sName, sStatus, sSn, sComment, Sx, Sy, Sh, sB, sL, sHeight, sCoorName, sSpeedName, sStyle, s1x, s1y, s1h )
    			  VALUES(#sName#, #sStatus#, #sSn#, #sComment#, #Sx#, #Sy#, #Sh#, #sB#, #sL#, #sHeight#, #sCoorName#, #sSpeedName#, #sStyle#, #s1x#, #s1y#, #s1h# )
            SELECT SCOPE_IDENTITY() as sId
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="Updatestation" parameterClass="station">
			<![CDATA[Update station 
            SET  
                    sName=#sName#
                , 
                    sStatus=#sStatus#
                , 
                    sSn=#sSn#
                , 
                    sComment=#sComment#
                , 
                    Sx=#Sx#
                , 
                    Sy=#Sy#
                , 
                    Sh=#Sh#
                , 
                    sB=#sB#
                , 
                    sL=#sL#
                , 
                    sHeight=#sHeight#
                , 
                    sCoorName=#sCoorName#
                , 
                    sSpeedName=#sSpeedName#
                , 
                    sStyle=#sStyle#
                , 
                    s1x=#s1x#
                , 
                    s1y=#s1y#
                , 
                    s1h=#s1h#
                 
			Where sId=#sId#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeletestationById" parameterClass="int">
			<![CDATA[Delete From station Where sId=#value#]]>
		</delete>
        <select id="SelectstationQuery" parameterMap="station_params" resultMap="stationResult">
    
                select
            		a.sId,
            		a.sName,
            		a.sStatus,
            		a.sSn,
            		a.sComment,
            		a.Sx,
            		a.Sy,
            		a.Sh,
            		a.sB,
            		a.sL,
            		a.sHeight,
            		a.sCoorName,
            		a.sSpeedName,
            		a.sStyle,
            		a.s1x,
            		a.s1y,
            		a.s1h,	
        	from station a 
        	<dynamic prepend="where">
        		<isPropertyAvailable prepend="" property="sId">
        			<isGreaterThan prepend="and" property="sId" compareValue="0">
        				a.sId = #sId#
        			</isGreaterThan>
        		</isPropertyAvailable>
        	</dynamic>
        	<!--order by-->
        	<dynamic>
        	order by
        	a.sId
        	</dynamic>
        </select> 
        
       
    </statements>
</sqlMap>  
