<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="STATION_FILTER" type="com.tk.orm.model.STATION_FILTER,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="STATION_FILTER_params">
    			<parameter property="ID" column="ID" type="long" dbType="bigint" ></parameter>
    			 <parameter property="GDATETIME" column="GDATETIME" type="DateTime" dbType="datetime" ></parameter>
    			<parameter property="X" column="X" type="double" dbType="float" ></parameter>
    			<parameter property="Y" column="Y" type="double" dbType="float" ></parameter>
    			<parameter property="H" column="H" type="double" dbType="float" ></parameter>
    			<parameter property="XSPEED" column="XSPEED" type="double" dbType="float" ></parameter>
    			<parameter property="YSPEED" column="YSPEED" type="double" dbType="float" ></parameter>
    			<parameter property="HSPEED" column="HSPEED" type="double" dbType="float" ></parameter>
    			<parameter property="XACCELERATION" column="XACCELERATION" type="double" dbType="float" ></parameter>
    			<parameter property="YACCELERATION" column="YACCELERATION" type="double" dbType="float" ></parameter>
    			<parameter property="HACCELERATION" column="HACCELERATION" type="double" dbType="float" ></parameter>
    			<parameter property="STYLE" column="STYLE" type="int" dbType="int" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="STATION_FILTERResult" class="STATION_FILTER"> 
            <result property="ID" column="ID"/>
            <result property="GDATETIME" column="GDATETIME"/>
            <result property="X" column="X"/>
            <result property="Y" column="Y"/>
            <result property="H" column="H"/>
            <result property="XSPEED" column="XSPEED"/>
            <result property="YSPEED" column="YSPEED"/>
            <result property="HSPEED" column="HSPEED"/>
            <result property="XACCELERATION" column="XACCELERATION"/>
            <result property="YACCELERATION" column="YACCELERATION"/>
            <result property="HACCELERATION" column="HACCELERATION"/>
            <result property="STYLE" column="STYLE"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllSTATION_FILTER" resultMap="STATION_FILTERResult">
			<![CDATA[SELECT  
             ID,
    	     
             GDATETIME,
    	     
             X,
    	     
             Y,
    	     
             H,
    	     
             XSPEED,
    	     
             YSPEED,
    	     
             HSPEED,
    	     
             XACCELERATION,
    	     
             YACCELERATION,
    	     
             HACCELERATION,
    	     
             STYLE
    	     FROM T_STATION_FILTER]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectSTATION_FILTERById" parameterClass="int" resultMap="STATION_FILTERResult" extends="SelectAllSTATION_FILTER">
			<![CDATA[ where ID = #value#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="InsertSTATION_FILTER" parameterClass="STATION_FILTER">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="ID" type="post" resultClass="int">
          <![CDATA[
            INSERT into T_STATION_FILTER(GDATETIME, X, Y, H, XSPEED, YSPEED, HSPEED, XACCELERATION, YACCELERATION, HACCELERATION, STYLE )
    			  VALUES(#GDATETIME#, #X#, #Y#, #H#, #XSPEED#, #YSPEED#, #HSPEED#, #XACCELERATION#, #YACCELERATION#, #HACCELERATION#, #STYLE# )
            SELECT SCOPE_IDENTITY() as ID
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="UpdateSTATION_FILTER" parameterClass="STATION_FILTER">
			<![CDATA[Update T_STATION_FILTER 
            SET  
                    GDATETIME=#GDATETIME#
                , 
                    X=#X#
                , 
                    Y=#Y#
                , 
                    H=#H#
                , 
                    XSPEED=#XSPEED#
                , 
                    YSPEED=#YSPEED#
                , 
                    HSPEED=#HSPEED#
                , 
                    XACCELERATION=#XACCELERATION#
                , 
                    YACCELERATION=#YACCELERATION#
                , 
                    HACCELERATION=#HACCELERATION#
                , 
                    STYLE=#STYLE#
                 
			Where ID=#ID#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeleteSTATION_FILTERById" parameterClass="int">
			<![CDATA[Delete From T_STATION_FILTER Where ID=#value#]]>
		</delete>
        <select id="SelectSTATION_FILTERQuery" parameterMap="STATION_FILTER_params" resultMap="STATION_FILTERResult">
    
                select
            		a.ID,
            		a.GDATETIME,
            		a.X,
            		a.Y,
            		a.H,
            		a.XSPEED,
            		a.YSPEED,
            		a.HSPEED,
            		a.XACCELERATION,
            		a.YACCELERATION,
            		a.HACCELERATION,
            		a.STYLE,	
        	from T_STATION_FILTER a 
        	<dynamic prepend="where">
        		<isPropertyAvailable prepend="" property="ID">
        			<isGreaterThan prepend="and" property="ID" compareValue="0">
        				a.ID = #ID#
        			</isGreaterThan>
        		</isPropertyAvailable>
        	</dynamic>
        	<!--order by-->
        	<dynamic>
        	order by
        	a.ID
        	</dynamic>
        </select> 
        
       
    </statements>
</sqlMap>  
