<?xml version="1.0" encoding="UTF-8" ?> 
<sqlMap namespace="EntityModel" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
    <alias>
		<!--类的别名-->
		<typeAlias alias="TEMPGPS" type="com.tk.orm.model.TEMPGPS,com.tk.orm"/>
	</alias>
    <parameterMaps>
	<parameterMap id="TEMPGPS_params">
    			<parameter property="ID" column="ID" type="long" dbType="bigint" ></parameter>
    			<parameter property="GPSID" column="GPSID" dbType="Varchar" ></parameter>
    			<parameter property="X" column="X" type="double" dbType="float" ></parameter>
    			<parameter property="Y" column="Y" type="double" dbType="float" ></parameter>
    			<parameter property="H" column="H" type="double" dbType="float" ></parameter>
    			<parameter property="DX" column="DX" type="double" dbType="float" ></parameter>
    			<parameter property="DH" column="DH" type="double" dbType="float" ></parameter>
    			<parameter property="START_COUNT" column="START_COUNT" type="int" dbType="int" ></parameter>
    			<parameter property="FLAG" column="FLAG" type="int" dbType="int" ></parameter>
    			 <parameter property="UPDATIME" column="UPDATIME" type="DateTime" dbType="datetime" ></parameter>
    	</parameterMap>
    </parameterMaps>
    <resultMaps>
        <resultMap id="TEMPGPSResult" class="TEMPGPS"> 
            <result property="ID" column="ID"/>
            <result property="GPSID" column="GPSID"/>
            <result property="X" column="X"/>
            <result property="Y" column="Y"/>
            <result property="H" column="H"/>
            <result property="DX" column="DX"/>
            <result property="DH" column="DH"/>
            <result property="START_COUNT" column="START_COUNT"/>
            <result property="FLAG" column="FLAG"/>
            <result property="UPDATIME" column="UPDATIME"/>
        </resultMap>
    </resultMaps>
    <statements>
    <!--查询所有记录-->
		<select id="SelectAllTEMPGPS" resultMap="TEMPGPSResult">
			<![CDATA[SELECT  
             ID,
    	     
             GPSID,
    	     
             X,
    	     
             Y,
    	     
             H,
    	     
             DX,
    	     
             DH,
    	     
             START_COUNT,
    	     
             FLAG,
    	     
             UPDATIME
    	     FROM T_TEMPGPS]]>
		</select>
        <!--查询单条记录-->
		<select id="SelectTEMPGPSById" parameterClass="int" resultMap="TEMPGPSResult" extends="SelectAllTEMPGPS">
			<![CDATA[ where ID = #value#  ]]>
		</select> 
        
        
        
        <!--插入新记录-->
		<insert id="InsertTEMPGPS" parameterClass="TEMPGPS">	
          select 1;
    			<!--id自动生成的示例用法-->
          <selectKey property="ID" type="post" resultClass="int">
          <![CDATA[
            INSERT into T_TEMPGPS(GPSID, X, Y, H, DX, DH, START_COUNT, FLAG, UPDATIME )
    			  VALUES(#GPSID#, #X#, #Y#, #H#, #DX#, #DH#, #START_COUNT#, #FLAG#, #UPDATIME# )
            SELECT SCOPE_IDENTITY() as ID
          ]]>
          </selectKey>
      
		</insert>
        
        <!--更新单条记录-->
		<update id="UpdateTEMPGPS" parameterClass="TEMPGPS">
			<![CDATA[Update T_TEMPGPS 
            SET  
                    GPSID=#GPSID#
                , 
                    X=#X#
                , 
                    Y=#Y#
                , 
                    H=#H#
                , 
                    DX=#DX#
                , 
                    DH=#DH#
                , 
                    START_COUNT=#START_COUNT#
                , 
                    FLAG=#FLAG#
                , 
                    UPDATIME=#UPDATIME#
                 
			Where ID=#ID#]]>
		</update>

		<!--根据主键删除单条记录-->
		<delete id="DeleteTEMPGPSById" parameterClass="int">
			<![CDATA[Delete From T_TEMPGPS Where ID=#value#]]>
		</delete>
        <select id="SelectTEMPGPSQuery" parameterMap="TEMPGPS_params" resultMap="TEMPGPSResult">
    
                select
            		a.ID,
            		a.GPSID,
            		a.X,
            		a.Y,
            		a.H,
            		a.DX,
            		a.DH,
            		a.START_COUNT,
            		a.FLAG,
            		a.UPDATIME,	
        	from T_TEMPGPS a 
        	<dynamic prepend="where">
        		<isPropertyAvailable prepend="" property="ID">
        			<isGreaterThan prepend="and" property="ID" compareValue="0">
        				a.ID = #ID#
        			</isGreaterThan>
        		</isPropertyAvailable>
        	</dynamic>
        	<!--order by-->
        	<dynamic>
        	order by
        	a.ID
        	</dynamic>
        </select> 
        
       
    </statements>
</sqlMap>  
